body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #078be4;
}

h2 {
    color: #fff;
    font-size: 35px;
}
p {
    color: #fff;
    font-size: 30px;
}
input {
    color: #000000;
    font-size: 25px;
}
button {
    color: #020202;
    font-size: 25px;
    margin-top: 20px;
}